root = true

[*.{kt,kts}]
indent_size = 4
insert_final_newline = true
max_line_length = 120

# Disable specific ktlint rules
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_annotation = disabled

# Allow PascalCase for @Composable functions (Compose convention).
ktlint_function_naming_ignore_when_annotated_with = Composable
